<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebApp -->
      <package
            uri="http://webapp/1.0"
            class="webapp.WebappPackage"
            genModel="model/WebApp.genmodel"/>
   </extension>

</plugin>
